body {
    background-color: rgb(254, 255, 190);
}

#header {
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 100px;
}

#config {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    margin: 50px 400px 100px;
    padding: 20px;
    justify-content: center;
    gap: 25px;
    border-radius: 15px;
    border: 2px solid black;
    flex: 1;
}

#container {
    width: 900px;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    border: 2px solid black;
}

#row {
    display: flex;
}

#square {
    background-color: hsl(0, 0%, 100%);
    flex: auto;
    box-sizing: border-box;
}


button {
    border-radius: 5px;
    background-color: hsl(177, 100%, 73%);

}

button:hover {
    background-color: hsla(177, 100%, 73%, 0.863);
}

button:active {
    background-color: hsla(177, 100%, 73%, 0.74);
}
