body {
    display: flex;
    flex-direction: column;
    background-color: black;
}

#config {
    display: flex;
    background-color: hsl(0, 0%, 69%);
    margin: 100px;
    padding: 20px;
    justify-content: center;
    gap: 25px;
    border-radius: 15px;
    flex: 1;
}

#container {
    display: flex;
    margin: 100px;
    flex-direction: column;
}

#row {
    display: flex;
}

#square {
    background-color: hsl(0, 0%, 80%);
    flex: 1;
    padding: 10px;
}

#square:hover {
    background-color: hsl(0, 0%, 75%);
}

button {
    border: none;
    border-radius: 5px;
    background-color: white;

}
